<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Гостьові Майстри</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/sidenav :: sidenav}"></div>
<div class="container-logo">
    <h1 class="neon-text">SKIN DREAMS</h1>
    <h2 class="neon-text">TATTOO STUDIO</h2>
</div>
<h1 class="main-greeting" th:text="#{travel.title}"></h1>
<div class="background">
    <div class="container">
        <div class="screen">
            <div class="screen-header">
                <div class="screen-header-left">
                    <div class="screen-header-button close"></div>
                    <div class="screen-header-button maximize"></div>
                    <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                </div>
            </div>
            <div class="screen-body" id="success">
                <div class="screen-body-item left">
                    <div class="app-title">
                        <span th:text="#{travel.form.text}"></span>
                        <span th:text="#{travel.form.text.down}"></span>
                    </div>
                    <div class="app-contact" th:text="#{travel.form.contact.text}"></div>
                </div>
                <div class="screen-body-item">
                    <div class="app-form">
                        <form th:method="POST" th:action="@{/guest-master/new-guest-master}" th:object="${travelMaster}"
                              onsubmit="return validateForm()">
                            <div class="app-form-group">
                                <label for="name"></label>
                                <input class="app-form-control" type="text" id="name" th:field="*{name}"
                                       th:placeholder="#{travel.form.placeholder.name}" required>
                                <p id="error" style="color: red" th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}">Name error</p>
                            </div>
                            <div class="app-form-group">
                                <label for="socialMedia"></label>
                                <input class="app-form-control" id="socialMedia" th:field="*{socialMedia}"
                                       th:placeholder="#{travel.form.placeholder.social.media}" required>
                                <p style="color: red" th:if="${#fields.hasErrors('socialMedia')}"
                                   th:errors="*{socialMedia}">Text error</p>
                            </div>
                            <div class="app-form-group">
                                <label for="phone"></label>
                                <input class="app-form-control" id="phone" th:field="*{phone}"
                                       th:placeholder="#{travel.form.placeholder.social.phone}"
                                       required>
                                <p style="color: red" th:if="${#fields.hasErrors('phone')}"
                                   th:errors="*{phone}">Text error</p>
                            </div>
                            <div class="app-form-group">
                                <label for="email"></label>
                                <input class="app-form-control" id="email" th:field="*{email}"
                                       th:placeholder="#{travel.form.placeholder.social.email}"
                                       required>
                                <p style="color: red" th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}">Text error</p>
                            </div>
                            <div class="app-form-group">
                                <label for="description"></label>
                                <input class="app-form-control" id="description" th:field="*{description}"
                                       th:placeholder="#{travel.form.placeholder.social.description}" required>
                                <p style="color: red" th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}">Text error</p>
                            </div>
                            <div class="app-form-group buttons">
                                <button class="app-form-button"
                                        th:text="#{travel.form.placeholder.social.send.button}"></button>
                            </div>
                        </form>
                        <div class="success-message">
                            <span th:if="${successMessage}" th:text="${successMessage}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="credits">
            Created by
            <a class="credits-link" href="https://skindreams.tattoo/" target="_blank">
                <svg class="dribbble" viewBox="0 0 200 200">
                    <g stroke="#ffffff" fill="none">
                        <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
                        <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345"
                              stroke-width="20"></path>
                        <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951"
                              stroke-width="20"></path>
                        <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103"
                              stroke-width="20"></path>
                    </g>
                </svg>
                SkinDreams Tattoo Co
            </a>
        </div>
    </div>
    <script src="/css/js/script.js"></script>
</div>
<h1 class="main-greeting-table" th:text="#{travel.title.table}"></h1>
<section>
    <div class="col-md-9 mx-auto">
        <table class="table table-bordered table-dark table-rounded">
            <thead>
            <tr>
                <th scope="col" th:text="#{travel.title.table.name}"></th>
                <th scope="col" th:text="#{travel.title.table.social.media}"></th>
            </tr>
            </thead>
            <tbody>
            <!-- Используем Thymeleaf для итерации по списку гостевых мастеров -->
            <th:block th:each="master : ${guestMasters}">
                <tr>
                    <td th:text="${master.name}"></td>
                    <td th:text="${master.socialMedia}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</section>
<div class="pagination">
    <ul>
        <li th:each="pageNumber : ${#numbers.sequence(0, guestMasters.totalPages - 1)}">
            <a th:href="@{/guest-master(page=${pageNumber}, size=${pageSize})}"
               th:classappend="${pageNumber == currentPage} ? 'active'">[[${pageNumber}]]</a>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
