<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Наш Блог</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/contact-page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/css/static/images/logo.png">
</head>
<div th:replace="~{fragments/phone-number :: phone}"></div>
<body class="body-contact">
<div th:replace="~{fragments/telegram-button :: telegram}"></div>
<div th:replace="~{fragments/instagram-button :: instagram}"></div>
<div th:replace="~{fragments/sidenav :: sidenav}"></div>
<div th:replace="~{fragments/main-logo :: logo}"></div>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="main-greeting col-lg-10 offset-lg-2 col-md-6 offset-md-3 col-sm-8 col-12 text-center" th:text="#{blog.title}"></h1>
    </div>
</div>

<section>
    <div class="container">
        <div class="table-responsive col-lg-10 offset-lg-2">
            <table class="table table-dark table-bordered">
                <thead>
                <tr>
                    <th scope="col" th:text="#{blog.table.subject}"></th>
                    <th scope="col" th:text="#{blog.table.description}"></th>
                    <th scope="col" th:text="#{blog.table.date}"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Используем Thymeleaf для итерации по списку гостевых мастеров -->
                <tr th:each="blog : ${blogs}">
                    <td th:text="${blog.title}"></td>
                    <td th:text="${blog.text}"></td>
                    <td th:text="${blog.registrationTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>