<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стилі тату</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="sidenav">
    <a href="/">Головна</a>
    <a href="/uslugi">Послуги</a>
    <a href="/tattoo-masters">Майстри</a>
    <a href="/stili-tattoo">Стилі Тату</a>
    <a href="/nash-blog">Блог</a>
    <a href="/otzyvy">Відгуки</a>
    <a href="/kontakty">Контакти</a>
    <a href="/guest-master">Travel Master</a>
</div>
<h1 class="main-greeting">СТИЛІ ТАТУ</h1>
    <div class="container">
        <h1>Стили татуировок</h1>

        <div class="row">
            <div class="col-md-4">
                <img src="" class="img-fluid" alt="Татуировка 1">
                <h3>Стиль 1</h3>
                <p>Описание стиля 1</p>
            </div>

            <div class="col-md-4">
                <img src="" class="img-fluid" alt="Татуировка 2">
                <h3>Стиль 2</h3>
                <p>Описание стиля 2</p>
            </div>

            <div class="col-md-4">
                <img src="" class="img-fluid" alt="Татуировка 3">
                <h3>Стиль 3</h3>
                <p>Описание стиля 3</p>
            </div>
        </div>
    </div>
</body>
</html>
