<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Стилі тату</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/contact-page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/css/static/images/logo.png">
</head>
<div th:replace="~{fragments/phone-number :: phone}"></div>
<body class="body-contact">
<div th:replace="~{fragments/telegram-button :: telegram}"></div>
<div th:replace="~{fragments/sidenav :: sidenav}"></div>
<div th:replace="~{fragments/main-logo :: logo}"></div>
<div class="container">
    <div class="row justify-content-center">
        <h1 class="main-greeting col-lg-10 offset-lg-2 col-md-6 offset-md-3 col-sm-8 col-12 text-center" th:text="#{style.title}"></h1>
    </div>
</div>
<div class="container">
    <div class="main">
        <div class="row justify-content-center">
            <div class="col-lg-12 offset-lg-3 col-md-10 offset-md-2 col-sm-12 col-12">
                <div class="main-text text-center"><p>У нас ви знайдете безмежну креативність та професійність, які зроблять ваші татуювання
                    по-справжньому незабутніми. Наша команда талановитих тату-мастерів з готовністю перетворить ваші ідеї на живі
                    шедеври на вашій шкірі.</p>
                    <div class="main-page-image"><img src="/css/static/images/main-img-2.png" alt="firstPhoto"></div>
                    <p>Ми пропонуємо широкий вибір дизайнів та стилів, включаючи реалістичне тату, традиційне, графічне, геометричне
                        та багато інших. Наші майстри володіють великим досвідом та технічними знаннями, що дозволяє нам забезпечити
                        якість та безпеку виконання кожного тату.</p>
                    <div class="main-page-image"><img src="/css/static/images/main-img-2.png" alt="firstPhoto"></div>
                    <p>У нашій студії ми дбаємо про комфорт і задоволення наших клієнтів. Ми працюємо тільки з високоякісними
                        матеріалами та використовуємо сучасні стерилізаційні процедури, щоб забезпечити безпеку та гігієну в процесі
                        татування.</p>
                    <div class="main-page-image"><img src="/css/static/images/main-img-2.png" alt="firstPhoto"></div>
                    <p>Наші тату-мастери завжди готові прислухатися до ваших бажань та порадити вам щодо дизайну, колірної гами та
                        розміщення тату. Ми відкриті до співпраці та готові зреалізувати ваші найсміливіші ідеї.</p>
                    <div class="main-page-image"><img src="/css/static/images/main-img-2.png" alt="firstPhoto"></div>
                    <p>Запрошуємо вас відвідати нашу студію і довірити нам створення своєї особливої татуювання. SkinDreams - це
                        місце, де ваші мрії народжуються на шкірі!</p>
                    <div class="main-page-image"><img src="/css/static/images/main-img-2.png" alt="firstPhoto"></div>
                    <p>Запишіться на консультацію зараз і зробіть перший крок до свого неповторного тату.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="background">
    <div class="container">
        <div class="screen">
            <div class="screen-header">
                <div class="screen-header-left">
                    <div class="screen-header-button close"></div>
                    <div class="screen-header-button maximize"></div>
                    <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                </div>
            </div>
            <div class="screen-body" id="success">
                <div class="screen-body-item left">
                    <div class="app-title">
                        <span th:text="#{style.form.text}"></span>
                        <span th:text="#{style.form.text.down}"></span>
                    </div>
                    <div class="app-contact" th:text="#{style.form.contact.text}"></div>
                </div>
                <div class="screen-body-item">
                    <div class="app-form">
                        <form th:method="POST" th:action="@{/stili-tattoo/question}" th:object="${client}"
                              onsubmit="return validateForm()">
                            <div class="app-form-group">
                                <label for="name"></label>
                                <input class="app-form-control" type="text" id="name" th:field="*{name}"
                                       th:placeholder="#{style.form.placeholder.name}" required>
                                <p id="error" style="color: red" th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}">Name error</p>
                            </div>
                            <div class="app-form-group">
                                <label for="phone"></label>
                                <input class="app-form-control" id="phone" th:field="*{phone}"
                                       th:placeholder="#{style.form.placeholder.contactNo}" required>
                                <p style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Name
                                    error</p>
                            </div>
                            <div class="app-form-group">
                                <label for="question"></label><input class="app-form-control" id="question"
                                                                     th:field="*{question}"
                                                                     th:placeholder="#{style.form.placeholder.question}"
                                                                     required>
                                <p style="color: red" th:if="${#fields.hasErrors('question')}" th:errors="*{question}">
                                    Name error</p>
                            </div>
                            <div class="app-form-group buttons">
                                <button class="app-form-button" th:text="#{style.form.placeholder.send.button}"></button>
                            </div>
                        </form>
                        <div class="success-message">
                            <span th:if="${successMessage}" th:text="${successMessage}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="credits">
            Created by
            <a class="credits-link" href="https://skindreams.tattoo/" target="_blank">
                <svg class="dribbble" viewBox="0 0 200 200">
                    <g stroke="#ffffff" fill="none">
                        <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
                        <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345"
                              stroke-width="20"></path>
                        <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951"
                              stroke-width="20"></path>
                        <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103"
                              stroke-width="20"></path>
                    </g>
                </svg>
                SkinDreams Tattoo Co
            </a>
        </div>
    </div>
    <script src="/css/js/script.js"></script>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
