<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кращі тату майстри України</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>
<div class="container-logo">
    <h1 class="neon-text">SKIN DREAMS</h1>
    <h2 class="neon-text">TATTOO STUDIO</h2>
</div>
<h1 class="main-greeting">НАЩІ МАЙСТРИ</h1>
<section>
        <div class="col-md-9">
            <h1>Список мастеров</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Специализация</th>
                    <th scope="col">Социальные сети</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="master : ${masters}">
                    <td><a th:href="@{/tattoo-masters/{id}(id=${master.id})}" th:text="${master.name}"></a></td>
                    <td th:text="${master.specialization}"></td>
                    <td>
                        <a th:href="'http://www.instagram.com/' + ${master.socialMedia}" th:text="${master.socialMedia}" target="_blank"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>


</body>
</html>
