<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кращі тату майстри України</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/contact-page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/css/static/images/logo.png">
</head>
<div th:replace="~{fragments/phone-number :: phone}"></div>
<body class="body-contact">
<div th:replace="~{fragments/sidenav :: sidenav}"></div>
<div th:replace="~{fragments/main-logo :: logo}"></div>
<div class="sticky-container">
    <div class="d-flex flex-row-reverse align-items-center">
        <a href="tg://resolve?domain=my_username" class="btn btn-primary telegram-button">
            <i class="fab fa-telegram"></i>
        </a>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <h1 class="main-greeting col-lg-10 offset-lg-2 col-md-6 offset-md-3 col-sm-8 col-12 text-center" th:text="#{master.title}"></h1>
    </div>
</div>

<section>
    <div class="container">
    <div class="col-md-9 mx-auto">
        <div class="table-responsive col-lg-11 offset-lg-2 col-md-12 offset-md-2">
        <table class="table table-bordered table-dark ">
            <thead>
            <tr>
                <th scope="col" th:text="#{master.name.table}"></th>
                <th scope="col" th:text="#{master.specialization.table}"></th>
                <th scope="col" th:text="#{master.social.media.table}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="master : ${masters}">
                <td><a th:href="@{/tattoo-masters/{id}(id=${master.id})}" th:text="${master.name}"></a></td>
                <td th:text="${master.specialization}"></td>
                <td>
                    <a th:href="'https://www.instagram.com/' + ${master.socialMedia}" th:text="${master.socialMedia}" target="_blank"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
</section>


<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
