<!DOCTYPE html>
<html lang="en">
<head>
    <title>Информация о мастере</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/sidenav :: sidenav}"></div>

<h1 class="main-greeting-table">Информация о мастере</h1>

<div class="col-md-9 mx-auto">
    <div>
        <h2 class="master" th:text="${master.name}"></h2>
        <i class="fa-regular fa-person-to-portal"></i>
    </div>
    <div>
        <p class="master" th:text="${master.socialMedia}"></p>
        <i class="fa-regular fa-person-to-portal"></i>
    </div>
    <div>

        <p class="master" th:text="${master.specialization}"></p>
        <i class="fa-regular fa-person-to-portal"></i>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
