<!-- Site footer -->

<div class="container">
    <div class="align-content-center">
<footer  th:fragment="footer" class="site-footer col-lg-8 col-md-8  col-sm-12 col-12 offset-lg-3 offset-md-3 text-center col-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h6 th:text="#{footer.about}"></h6>
                <p class="text-justify">SkinDreams.Tattoo <i>TATTOO WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6 th:text="#{footer.categories}"></h6>
                <ul class="footer-links">
                    <li><a href="/" th:text="#{menu.main}"></a></li>
                    <li><a href="/uslugi" th:text="#{menu.service}" ></a></li>
                    <li><a href="/tattoo-masters" th:text="#{menu.masters}"></a></li>
                    <li><a href="/stili-tattoo" th:text="#{menu.tattoo.style}"></a></li>
                    <li><a href="/nash-blog" th:text="#{menu.blog}"></a></li>
                    <li><a href="/otzyvy" th:text="#{menu.review}"></a></li>
                    <li><a href="/kontakty" th:text="#{menu.contact}"></a></li>
                    <li><a href="/guest-master" th:text="#{menu.travel.master}"></a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6 th:text="#{footer.map}"></h6>
                <ul class="footer-links">
                    <iframe class="col-lg-12 col-md-12 col-sm-12 col-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.547384176683!2d36.2371108761069!3d50.00109471961713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0e7c08d9785%3A0x48e48fd5710cd8da!2z0YPQuy4g0JDQu9GH0LXQstGB0LrQuNGFLCA2LCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1689599100730!5m2!1sru!2sua" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
                    <a href="#">SKINDREAMS</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
    </div>
</div>