<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-column">
            <h3>Контакты</h3>
            <p>Адрес: ул. Примерная, 123</p>
            <p>Телефон: +1 234 567 890</p>
            <p>Email: info@example.com</p>
        </div>
        <div class="footer-column">
            <h3>Ссылки</h3>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/services">Услуги</a></li>
                <li><a href="/portfolio">Портфолио</a></li>
                <li><a href="/contact">Контакты</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Мы в социальных сетях</h3>
            <ul>
                <li><a href="https://www.facebook.com/skindreams.tattoo/?locale=ru_RU">Facebook</a></li>
                <li><a href="https://www.instagram.com/skindreams.tattoo/">Instagram</a></li>
                <li><a href="https://www.facebook.com/skindreams.tattoo/?locale=ru_RU">Twitter</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Все права защищены &copy; 2023</p>
    </div>
</footer>

</body>
</html>