.body-contact {
    position: relative;
    background-color: #1C1C1C;
}

.body-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(pink 13%, transparent 2.5%);
    background-size: 15px 15px;
    pointer-events: none;
    opacity: 0.2;
    z-index: -1;
}
.body-contact * {
    pointer-events: auto;
}

.map-main{
border-radius: 20px;
}



.sticky-container {
    position: sticky;
    top: 150px;
    z-index: 100;
}

.sticky-container-inst{
    position: sticky;
    top: 200px;
    z-index: 100;
}

.sticky-container-tik-tok{
    position: sticky;
    top: 250px;
    z-index: 100;
}

.btn:not(:disabled):not(.disabled){
    background: #666;
    border-color: #ea1d6f;
    transition: background 0.3s, border-color 0.3s;
}

.btn:not(:disabled):not(.disabled):hover {
    background: #ea1d6f;
    border-color: white;

}
.custom-carousel {
    max-width: 500px;
    max-height: 500px;
}

