<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/">Головна</a></li>
                        <li class="nav-item"><a class="nav-link" href="/uslugi">Послуги</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tattoo-masters">Майстри</a></li>
                        <li class="nav-item"><a class="nav-link" href="/stili-tattoo">Стилі Тату</a></li>
                        <li class="nav-item"><a class="nav-link" href="/nash-blog">Блог</a></li>
                        <li class="nav-item"><a class="nav-link" href="/otzyvy">Відгуки</a></li>
                        <li class="nav-item"><a class="nav-link" href="/kontakty">Контакти</a></li>
                        <li class="nav-item"><a class="nav-link" href="/guest-master">TravelMaster</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/skindreams.tattoo/?hl=ru">Inst</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/skindreams.tattoo/?locale=ru_RU">Face</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/skindreams.tattoo/?locale=ru_RU">Disc</a></li>
                    </ul>
                </nav>
            </div>
        </div>
<div class="container">
    <h1>Contact Page</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <!-- Используйте Thymeleaf для итерации по контактам и отображения их данных -->
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        </tbody>
    </table>
</div>

<!-- Подключение Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs /core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
