<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="/">Головна</a></li>
                        <li class="nav-item"><a class="nav-link" href="/uslugi">Послуги</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tattoo-masters">Майстри</a></li>
                        <li class="nav-item"><a class="nav-link" href="/stili-tattoo">Стилі Тату</a></li>
                        <li class="nav-item"><a class="nav-link" href="/nash-blog">Блог</a></li>
                        <li class="nav-item"><a class="nav-link" href="/otzyvy">Відгуки</a></li>
                        <li class="nav-item"><a class="nav-link" href="/kontakty">Контакти</a></li>
                        <li class="nav-item"><a class="nav-link" href="/guest-master">TravelMaster</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/skindreams.tattoo/?hl=ru">Inst</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/skindreams.tattoo/?locale=ru_RU">Face</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/skindreams.tattoo/?locale=ru_RU">Disc</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<h1 class="main-greeting">НАЩІ Контакти</h1>

        <div class="background">
            <div class="container">
                <div class="screen">
                    <div class="screen-header">
                        <div class="screen-header-left">
                            <div class="screen-header-button close"></div>
                            <div class="screen-header-button maximize"></div>
                            <div class="screen-header-button minimize"></div>
                        </div>
                        <div class="screen-header-right">
                            <div class="screen-header-ellipsis"></div>
                            <div class="screen-header-ellipsis"></div>
                            <div class="screen-header-ellipsis"></div>
                        </div>
                    </div>
                    <div class="screen-body">
                        <div class="screen-body-item left">
                            <div class="app-title">
                                <span>Наші </span>
                                <span>Контакти</span>
                            </div>
                            <div class="app-contact">Контакт Інфо: +38 063 443 66 67</div>
                        </div>
                        <div class="screen-body-item">
                            <div class="app-form">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Адреса</th>
                                            <th>Email</th>
                                            <th>Телефон</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- Используйте Thymeleaf для итерации по контактам и отображения их данных -->
                                        <td>Алчевских 6 м.Харків</td>
                                        <td>SKINDREAMS.TATTOO@GMAIL.COM</td>
                                        <td>+38 (063) 443 66 67</td>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="credits">
                    Created by
                    <a class="credits-link" href="https://skindreams.tattoo/" target="_blank">
                        <svg class="dribbble" viewBox="0 0 200 200">
                            <g stroke="#ffffff" fill="none">
                                <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
                                <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345" stroke-width="20"></path>
                                <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951" stroke-width="20"></path>
                                <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103" stroke-width="20"></path>
                            </g>
                        </svg>
                        SkinDreams Tattoo Co
                    </a>
                </div>
            </div>
        </div>



<!-- Подключение Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs /core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
