<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/contact-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/css/static/images/logo.png">
</head>

<body class="body-contact">
<div th:replace="~{fragments/sidenav :: sidenav}"></div>
<div th:replace="~{fragments/main-logo :: logo}"></div>
<div class="container">
    <div class="row justify-content-center align-items-center">
<h1 class="main-greeting col-lg-6 col-md-6 offset-md-3 col-sm-8 col-10 offset-lg-2 text-center" th:text="#{contact.title}"></h1>
    </div>
</div>
<div class="sticky-container">
    <div class="d-flex flex-row-reverse align-items-center">
        <a href="tg://resolve?domain=my_username" class="btn btn-primary telegram-button">
            <i class="fab fa-telegram"></i>
        </a>
    </div>
</div>
        <div class="background">
            <div class="container">
                <div class="screen">
                    <div class="screen-header">
                        <div class="screen-header-left">
                            <div class="screen-header-button close"></div>
                            <div class="screen-header-button maximize"></div>
                            <div class="screen-header-button minimize"></div>
                        </div>
                        <div class="screen-header-right">
                            <div class="screen-header-ellipsis"></div>
                            <div class="screen-header-ellipsis"></div>
                            <div class="screen-header-ellipsis"></div>
                        </div>
                    </div>
                    <div class="screen-body">
                        <div class="screen-body-item left">
                            <div class="app-title">
                                <span th:text="#{contact.form.text}"></span>
                                <span th:text="#{contact.form.text.down}"></span>
                            </div>
                            <div class="app-contact" th:text="#{contact.form.contact.text}"></div>
                        </div>
                        <div class="screen-body-item">
                            <div class="app-form">
                                <p class="contact-info-label" th:text="#{contact.form.text.address.label}"></p>
                                <p class="contact-info-text" th:text="#{contact.form.text.address}"></p>
                                <p class="contact-info-label" th:text="#{contact.form.text.email.label}"></p>
                                <p class="contact-info-text" th:text="#{contact.form.text.email}"></p>
                                <p class="contact-info-label" th:text="#{contact.form.text.phone.label}"></p>
                                <p class="contact-info-text" th:text="#{contact.form.text.phone}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="credits">
                    Created by
                    <a class="credits-link" href="https://skindreams.tattoo/" target="_blank">
                        <svg class="dribbble" viewBox="0 0 200 200">
                            <g stroke="#ffffff" fill="none">
                                <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
                                <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345" stroke-width="20"></path>
                                <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951" stroke-width="20"></path>
                                <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103" stroke-width="20"></path>
                            </g>
                        </svg>
                        SkinDreams Tattoo Co
                    </a>
                </div>
            </div>
        </div>
<div class="col-lg-8 align-content-center offset-lg-3 col-md-8 offset-md-3 col-sm-12 col-12">
    <iframe class="map-main" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.547384176683!2d36.2371108761069!3d50.00109471961713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0e7c08d9785%3A0x48e48fd5710cd8da!2z0YPQuy4g0JDQu9GH0LXQstGB0LrQuNGFLCA2LCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1689599100730!5m2!1sru!2sua" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- Подключение Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
</body>
</html>
